*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', Arial;
}
header{
  width: 100%;
  height: 50px;
  background: #333333;
  color: #ffffff;

  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100;
}
.contenedor-header{
  width: 98%;
  margin: auto;
}
h1{
  float: left;
}
.contenedor-header{
  display: table;
}
#Frase-Presentacion {
  font-size: 33px;
  padding-left: 10%;
  padding-right: 10%;
  color: black;
  float: right;
}
