#banner{
    background-image: url(http://www.wuf.pe/assets/img/banner/clubWuf_web.png);
    margin-top: 50px;
    position: relative;
    width: auto;
    height: 400px;
    background-size: 100% 100%;
  }
#banner .contenedor-banner{
      color: #ffffff;
      position: absolute;
      top: 75%;
      margin-left: 18%;
      margin-right: 18%;
  }
  #banner h2{
      font-size: 23px;
  }
.conteiner-nosotros{
  box-sizing: border-box;
  width: 45%;
  padding-left: 50px;
  float: left;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 80px;
  font-family: 'Open Sans', Arial;
}
.conteiner-nosotros img{
  height: 200px;
  width: 200px;
}
footer{
  background-color: black;
}
footer h3{
  font-size: 15px;
  color: white;
  margin-left: 20px;
}
