#banner{
    background-image: url(http://www.wuf.pe/assets/img/banner/clubWuf_web.png);
    margin-top: 50px;
    position: relative;
    width: auto;
    height: 500px;
    background-size: 100% 100%;
  }
#banner .contenedor-banner{
      color: #ffffff;
      position: absolute;
      top: 30%;
      left: 18%;
      margin-right: 50%;
      transform: translateX(-50%) translateY(-50%);
  }
  #banner h2{
      font-size: 28px;
  }