#banner{
    background-image: url(http://www.wuf.pe/assets/img/banner/clubWuf_web.png);
    margin-top: 50px;
    position: relative;
    width: auto;
    height: 400px;
    background-size: 100% 100%;
  }
#banner .contenedor-banner{
      color: #ffffff;
      position: absolute;
      top: 75%;
      margin-left: 18%;
      margin-right: 18%;
  }
  #banner h2{
      font-size: 23px;
  }
