.Portada {
    height: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
  }
  
  #Fondo-Portada {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  
  #Logo {
    height: 90px;
    width: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 10;
  }
  
  
  #Frase-Presentacion {
    font-size: 33px;
    padding-left: 10%;
    padding-right: 10%;
  }
